<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">MaxiWeb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
        

        {{!-- {{#Nav this 1}} --}}
        <li class="nav-item active">
           
        <a class="nav-link" href="/herramienta">Herramientas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categoria">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario">Usuarios</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
      {{!-- {{else}} --}}
      <li class="nav-item active">
           
        <a class="nav-link" href="/herramienta">Herramientas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categoria">Categorias</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
     <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
          {{!-- {{/Nav}} --}}
        
      {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Registrarse</a>
        </li >
      {{/if}}
    </ul>
  </div> 
  </div>
</nav>

