<div class="container p-4">
    <h3 class="text-center p-4">Agregar nueva categoría</h3>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/categoria/add" method="POST">
                        <div class="form-group">
                            <p>Nombre</p>
                            <input type="text" class="form-control" name="nombre_categoria" placeholder = "Nombre" autofocus>
                        </div>
                         <div class="form-group">
                            <textarea name="descripcion_categoria" id=""  rows="2" class="form-control" placeholder="Descripción"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>