<div class="container p-4">
  <div class="card">
    <div class="card-header">
      <div class="btn-group float-right">
        <a href="/categoria/add" class="btn btn-primary m-4">Agregar</a>
        {{!-- <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#nuevoProducto"
        ><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button> --}}
      </div>
      <h4><i class="fa fa-search" aria-hidden="true"></i> Buscar Categorías</h4>
    </div>
    <div class="card-body">
      <form class="form-horizontal" role="form" id="datos">
        <div class="form-group row ">
			<label for="q" class="col-md-2 control-label">Nombre</label>
		    <div class="col-md-5">
			    <input type="text" class="form-control" id="q" placeholder="Nombre de la categoría" onkeyup='load(1);'>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-default" onclick='load(1);'>
				<a  class="fa fa-search"></a> Buscar</button>
			</div>				
		</div>
        {{!-- Tabla --}}
            <div class="container p-4">
          <div class="row">
              
                <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Agregado</th>
                    <th scope="col">Acciones</th>
                    </tr>
                </thead>
                {{#each categoria}}
                <tbody>
                    <tr>
                    <th scope="row">{{id_categoria}}</th>
                    <td scope="row">{{nombre_categoria}}</td>
                    <td scope="row">{{descripcion_categoria}}</td>
                    <td scope="row">{{date_added}}</td>
                    <td>
                      <a href="/categoria/delete/{{id_categoria}}" class="btn btn-danger">Eliminar</a>
                      <a href="/categoria/edit/{{id_categoria}}" class="btn btn-secondary">Editar</a>
                    </td>
                    </tr>
                </tbody>
                {{/each}}
                </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>