<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Nuevo Usuario</h3>
                </div>
                <div class="card-body">
                    <form action="/usuario/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre(s)" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos" placeholder="Apellidos" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="fk_rol" placeholder="Rol" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Registrarse</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>