<div class="container p-4">
  <div class="card">
    <div class="card-header">
      <div class="btn-group float-right">
        <a href="/usuario/add" class="btn btn-primary m-4">Agregar</a>
        {{! <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#nuevoProducto"
        ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Usuario</button> }}
      </div>

      <h4><i class="glyphicon glyphicon-search"></i> Buscar Usuarios</h4>
    </div>

    <div class="card-body">
      <form class="form-horizontal" role="form" id="datos">
        <div class="form-group row">
          <label for="q" class="col-md-2 control-label">Nombre</label>
          <div class="col-md-5">
            <input
              type="text"
              class="form-control"
              id="q"
              placeholder="Nombre"
              onkeyup="load(1);"
            />
          </div>

          <div class="col-md-3">
            <button type="button" class="btn btn-default" onclick="load(1);">
              <span class="glyphicon glyphicon-search"></span>
              Buscar</button>
          </div>
        </div>
      </form>
      {{! Tabla Usuarios }}
      <div class="container p-4">
        <div class="row">

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            {{#each usuario}}
              <tbody>
                <tr>
                  <th scope="row">{{id}}</th>
                  <td>{{nombre}} {{apellidos}}</td>
                  <td>{{username}}</td>
                  <td>{{fk_rol}}</td>
                  <td>
                    <a
                      href="/usuario/delete/{{id}}"
                      class="btn btn-danger"
                    >Eliminar</a>
                    <a
                      href="/usuario/edit/{{id}}"
                      class="btn btn-secondary"
                    >Editar</a>
                  </td>
                </tr>
              </tbody>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>