<div class="container p-4">
    <h3 class="text-center p-4">Agregar una nueva herramienta</h3>
    <div class="row">
        
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/herramienta/add" method="POST" enctype="multipart/form-data">
                    
                        <div class="form-group">
                            <p>Codigo</p>
                            <input type="text" class="form-control" name="codigo_producto" placeholder = "Codigo" autofocus>
                        </div>
                        <div class="form-group">
                            <p>Nombre</p>
                            <input type="text" class="form-control" name="nombre_producto" placeholder = "Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <p>Categoría</p>
                            <select class='form-control' name='fk_categoria' id='categoria' required>
						        <option value="">Selecciona una categoría</option>
                                {{#each categorias}}
							    <option value="{{id_categoria}}" name="fk_categoria">{{nombre_categoria}}</option>
                                {{/each}}			
							</select>	
                        </div>
                        <div><a name="date_added" values"20-11-21"href=""></a></div>
                        <div class="form-group">
                            <p>Stock</p>
                            <input type="number" name="stock" id=""  rows="2" class="form-control" placeholder="Stock"></input>
                        <div class="form-group">
                            <label>Upload profile picture</label>
                            <input type="file" name="imagen" required/>
                            <button class="btn btn-secondary" type="submit" value="Upload" > Subir</button>
                        </div>
                        {{!-- <div class="form-group"> --}}
                            {{!-- <input type="submit" value="Upload" /> --}}
                        {{!-- </div> --}}
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>