{{!-- <div class="container p-4">
    <h3 class="text-center p-4">Editar herramienta</h3>
    <div class="row">
        
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/herramienta/edit/{{herramienta.id_producto}}" method="POST">
                    
                        <div class="form-group">
                            <p>Codigo</p>
                            <input type="text" value="{{herramienta.codigo_producto}}"class="form-control" name="codigo_producto" placeholder = "Codigo" autofocus>
                        </div>
                        <div class="form-group">
                            <p>Nombre</p>
                            <input type="text" value="{{herramienta.nombre_producto}}" class="form-control" name="nombre_producto" placeholder = "Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <p>Categoría</p>
                            <select class='form-control' name='id_categoria' id='categoria' required>
						        <option value="">Elegir Categoria</option>
							    <option value="">{{herramienta.id_categoria}}</option>			
							</select>	
                        </div>
                        <div class="form-group">
                            <p>Stock</p>
                            <input name="stock" id="" value="{{herramienta.stock}}" rows="2" class="form-control" placeholder="Stock"></input>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}

    <div class="container p-4">
        <h3 class="text-center p-4">Editar producto</h3>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card ">
                    <div class="card-body">
                        <form action="herramienta/edit/{{herramienta.id_producto}}" method="POST">
                            <div class="form-group">
                                <p>Codigo</p>
                                <input type="text" value="{{herramienta.codigo_producto}}"class="form-control" name="codigo_producto" placeholder = "Codigo" autofocus>
                            </div>
                            <div class="form-group">
                                <p>Nombre</p>
                                <input type="text" value="{{herramienta.nombre_producto}}" class="form-control" name="nombre_producto" placeholder = "Nombre" autofocus>
                            </div>
                            <div class="form-group">
                                <p>Categoria</p>
                                    <select class='form-control' name='fk_categoria' id='id_categoria'>
                                        <option value="{{herramienta.id_categoria}} ">{{herramienta.nombre_categoria}}</option>
                                        {{#each categorias}}
                                        <option value="{{id_categoria}}" name="fk_categoria">{{nombre_categoria}}</option>
                                        {{/each}}			
                                    </select>	
                            </div>
                            <div class="form-group" >
                                <p>stock</p>
                                <input type="number" name="stock" id="" value="{{herramienta.stock}}" rows="2" class="form-control" placeholder="Stock" disabled>
                            </div>
                            <div class="form-group">
                                <button  class="btn btn-success" type="button">
                                    Guardar datos
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>