<div class="container p-4">
        <h3 class="text-center p-4">Agregar stock</h3>
        <div class="row">
            
            <div class="col-md-4 mx-auto">
                <div class="card ">
                    <div class="card-body">
                        <form action="/herramienta/stock/entradas/{{herramienta.id_producto}}" method="POST">
                        
                            <div class="form-group">
                                <p>Cantidad</p>
                                <input type="text" class="form-control" name="stock" placeholder = "Cantidad" autofocus>
                            </div>
                            <div class="form-group">
                                <p>Referencias</p>
                                <input type="text" class="form-control" name="nota" placeholder = "Referencia" autofocus>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" style="float: left;"class = "btn-toolbar" autofocus>
                                    Guardar datos
                                </button> 
                            </div >
                            <div class="form-group">
                                <button class="btn btn-danger "data-dismiss="modal"style="float: left;"class = "btn-toolbar" autofocus>
                                    Cancelar
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{!-- <div class="modal fade" id="VentanaEntradas" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
					<h5 id="tituloVentana">Entradas de herramienta</h5>
					<button class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				<div class="modal-body">
					<div class="aler alert-success">
						<h6>
							<strong>
							Tus datos se han guardado correctamente
							</strong>
							
						</h6>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" type="button" date-dismiss="modal">
						Cerrar
					</button>
					<button class="btn btn-success">
						Aceptar
					</button>
				</div>
			</div>
		</div>
	</div>

</div> --}}

