<div class="container p-3">
  <div class="card">
    <div class="card-header">
      <div class="btn-group float-right">
        <a href="/herramienta/add" class="btn btn-primary m-4" >Agregar</a>        
        {{!-- <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#nuevoProducto"
        ><span class="fa fa-plus"></span> Agregar</button> --}}
      </div>
      <h4><i class="fa fa-search"></i> Consultar inventario</h4>
    </div>
    <div class="card-body">
      <form class="form-horizontal" role="form" id="datos">

        <div class="row">
          <div class="col-md-4">
            <label>Filtrar por código o nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre_producto"
              id="q"
              placeholder="Código o nombre del producto"
              onkeyup="load(1);"
            />
          </div>

          <div class="col-md-4">
            <label>Filtrar por categoría</label>
            <select
              class="form-control"
              
              id="id_categoria"
              onchange="load(1);"
            >
              {{! select * from categorias order by nombre_categoria }}
              
              <option value="">Selecciona una categoría</option>
              {{#each categoria}}
              <option value="{{id_categoria}}">{{nombre_categoria}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-md-12 text-center">
            <span id="loader"></span>
          </div>
          <hr />
        </div>
        {{!-- Mostrar Tabla --}}
        <div class="container p-4">
          <div class="row">
            {{#each herramienta}}
              <div class="col-md-3">
                <div class="card text-center">
                  <div class="card-body">
                   <a href="/herramienta/stock/{{id_producto}}" target="_self"><img src="img/IEMI.jpeg" data-target="" alt="IEMI" class="img-thumbnail rounded" width="120" height="120"></a>
                    {{!-- <a href="{{nombre_producto}}" target="blank"> --}}
                      <h5 class="card-tittle text-uppercase">
                        {{nombre_producto}}
                      </h5>
                    </a>
                    <p class="m-2">
                      {{codigo_producto}}
                    </p>
                    <p>{{date_added}}</p>
                  </div>
                </div>
              </div>
            {{else}}
              <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                  <p>No Hay Links Guardados Aun</p>
                  <a href="/links/add">Crear uno</a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



 {{!-- <div class="modal fade" id="VentanaHerramientas" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
					<h5 class ="modal-tittle"id="tituloVentana">Agregar Nueva Herramienta</h5>
					<button class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
      <div class="modal-body">
        <form action="/herramienta" method="POST">          
            <div class="form-group">
                <p>Codigo</p>
                <input type="text" class="form-control" name="codigo_producto" placeholder = "Codigo" autofocus>
            </div>
            <div class="form-group">
                <p>Nombre</p>
                <input type="text" class="form-control" name="nombre_producto" placeholder = "Nombre" autofocus>
            </div>
            <div class="form-group">
                <p>Categoría</p>
                <select class='form-control' name='fk_categoria' id='categoria' required>
                  <option value="">Selecciona una categoría</option>
                  {{#each categoria}}
							    <option value="{{id_categoria}}" name="fk_categoria">{{nombre_categoria}}</option>
                  {{/each}}			
							  </select>	
            </div>
            <div><a name="date_added" values"20-11-21"href=""></a></div>
            <div class="form-group">
                <p>Stock</p>
                <input type="number" name="stock" id=""  rows="2" class="form-control" placeholder="Stock"></input>
            </div>
           
        </form>
			</div>
				<div class="modal-footer">
					<div class="form-group">
                <button class="btn btn-success" data-dismiss="modal">
                    Guardar
                </button> 
          </div>
        </div>
			</div>
		</div>
	</div>
</div> --}}