<div class="container p-4">
        <h3 class="text-center p-4">Eliminar stock</h3>
        <div class="row">
            
            <div class="col-md-4 mx-auto">
                <div class="card ">
                    <div class="card-body">
                        <form action="/herramienta/stock/salidas/{{herramienta.id_producto}}" method="POST">
                        
                            <div class="form-group">
                                <p>Cantidad</p>
                                <input type="text" class="form-control" name="stock" placeholder = "Cantidad" autofocus>
                            </div>
                            <div class="form-group">
                                <p>Referencias</p>
                                <input type="text" class="form-control" height="100" width="100" name="referencias" placeholder = "Referencias" autofocus>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" style="float: left;"class = "btn-toolbar" autofocus>
                                    Guardar datos
                                </button> 
                            </div >
                            <div class="form-group">
                                <button class="btn btn-danger "data-dismiss="modal"style="float: left;"class = "btn-toolbar" autofocus>
                                    Eliminar
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>