
  <section id="" class="pt-4 pb-4">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 pt-2 text-center">
          <div class="card">
            <div class="card-body">
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <img src="/img/IEMI.jpeg" class="col-5" data-target="" alt="IEMI" class="img-thumbnail rounded" /><br><br>
                      <a href="/herramienta/delete/{{herramienta.id_producto}}" class="btn btn-danger" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                          <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                        </svg>
                        Eliminar</a>
                      <a href="/herramienta/edit/{{herramienta.id_producto}}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                        Editar</a>
                    </div>
                    
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body">
                     
                      <h2 class="card-title">{{herramienta.nombre_producto}}</h2>
                      <p class="card-text">{{herramienta.codigo_producto}}</p>
                      <h6 class="card-text">Stock disponible</h6>
                      <h1 class="card-text">{{herramienta.stock}}.00</h1>
               
                      <a href="/herramienta/stock/entradas/{{herramienta.id_producto}}" class="btn btn-success" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                          <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                          <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                        </svg>
                        Agregar stock</a>
                      <a href="/herramienta/stock/salidas/{{herramienta.id_producto}}" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        Eliminar stock</a>
                    </div>
                  </div>
                </div>
              </div>

              <br>

              <table class="table table-bordered">
                <thead class="bg-info">
                  <th colspan="5">HISTORIAL DE INVENTARIO</th>
                <thead class="table-info">
                  <tr>
                    <th scope="col">Herramienta</th>
                    <th scope="col">Fecha y hora</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                   {{#each historial}}
                  <tr>
                   
                    <td>{{nombre_producto}}</td>
                    <td>{{fecha}}</td>
                    <td>{{nota}}</td>
                    <td>Se grego {{cantidad}} producto(s) al inventario</td>
                    {{!-- {{#each herramienta}} --}}
                    <td>{{stock}}</td>
                    {{!-- {{/each}} --}}
                 
                  </tr>
                     {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </section>

  {{!-- <div class="modal fade" id="VentanaEntradas" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
					<h5 class ="modal-tittle"id="tituloVentana">Entradas de herramienta</h5>
					<button class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				
			</div>
      <div class="modal-body">
        <form action="/stock/entradas/{{herramienta.id_producto}}" method="POST">   
            <div class="form-group">
                <p>Cantidad</p>
                <input type="text" class="form-control" name="stock" placeholder = "Cantidad" autofocus>
            </div>
            <div class="form-group">
                <p>Referencias</p>
                <input type="text" class="form-control" name="referencia" placeholder = "Referencia" autofocus>
            </div>
            
        </form>
			</div>
				<div class="modal-footer">
					<div class="form-group">
              <button class="btn btn-primary" style="float: left;"class = "btn-toolbar" autofocus>
                  Guardar datos
              </button> 
          </div >
          <div class="form-group">
              <button class="btn btn-danger "data-dismiss="modal"style="float: left;"class = "btn-toolbar" autofocus>
                  Cancelar
              </button> 
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

   --}}